@model IEnumerable<Project.Models.product>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "";
}

<h2>Новая продукция</h2>

<p>
    @Html.ActionLink("Добавить новый продукт", "Create")
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit1.unit1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit1.unit1)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.id }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@


<div id="grid">
</div>


<script>

    $(document).ready(function () {
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x=> new
              {
                  // x.id,
                  xP = x.product1,
                  x.count,
                  x.cost,
                  x.sum,
                  //xU = x.unit1.unit1

              }
             )));
        var source =
            {
                localdata: data,
                datatype: "local",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'xP', type: 'string' },
                    { name: 'count', type: 'float' },
                    { name: 'cost', type: 'float' },
                    { name: 'sum', type: 'float' }
                   // { name: 'xU', type: 'string' }

                ],
                //url: "/PersonCitizenship/h"
                root: "product",
                record: "products",
                id: 'id'
            };
        var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
            if (value < 20) {
                return '<span style="margin: 4px; margin-top:8px; float: ' + columnproperties.cellsalign + '; color: #ff0000;">' + value + '</span>';
            }
            else {
                return '<span style="margin: 4px; margin-top:8px; float: ' + columnproperties.cellsalign + '; color: #008000;">' + value + '</span>';
            }
        }
        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) { },
            loadComplete: function (data) { },
            loadError: function (xhr, status, error) { }
        });
        $("#grid").jqxGrid(
            {
                width: getWidth('Grid'),
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                sortable: true,
                altrows: true,
                showfilterrow: true,
                filterable: true,
                enabletooltips: true,
                editable: true,
                selectionmode: 'multiplecellsadvanced',
                columns: [
                  //{ text: 'Id', columngroup: 'Countries', datafield: 'Id', width: 250 },
                  { text: 'Продукт', columngroup: 'Countries',datafield: 'xP', cellsalign: 'right', align: 'right', width: 300 },
                  { text: 'Количество', columngroup: 'Countries',datafield: 'count', align: 'right', cellsalign: 'right', width: 200 },
                  { text: 'Стоимость', columngroup: 'Countries',datafield: 'cost', cellsalign: 'right', align: 'right', width: 200 },
                  { text: 'Сумма', columngroup: 'Countries',datafield: 'sum', cellsalign: 'right', align: 'right', width: 150 },
                 // { text: 'Ед.изм', columngroup: 'Countries',datafield: 'xU', cellsalign: 'right', align: 'right', width: 150 },
                ],
                columngroups: [
                    { text: 'Продукты на складе', align: 'center', name: 'Countries' }
                ]
            });
        //$("#grid").on("rowdoubleclick", function (event)
        //{
        //    //location.replace("/PersonCitizenships/Index.html")

        //    //window.location.href
        //    var idn = event.args.row.bounddata.id;
        //    var url = "/Product/Edit?id=" + idn;
        //   window.location.replace(url);


        //    });
        });

</script>
