@model IEnumerable<Project.Models.credit>

<p>
    @Html.ActionLink("Create New", "Create","Credit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_issue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.redeemed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_issue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.redeemed)
        </td>
        
    </tr>
}

</table>
