@model Project.Models.consist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>consist</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product1.product1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product1.product1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raw1.raw1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raw1.raw1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
