@model Project.Models.consist

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>consist</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.product, "product", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("product", String.Empty)
                @Html.ValidationMessageFor(model => model.product)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.raw, "raw", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("raw", String.Empty)
                @Html.ValidationMessageFor(model => model.raw)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.count)
                @Html.ValidationMessageFor(model => model.count)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
