@model Project.Models.credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>credit</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.redeemed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.redeemed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
