@model Project.Models.worker

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование данных сотрудников</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, "ФИО", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.post, "Позиция", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("post", String.Empty)
                @Html.ValidationMessageFor(model => model.post)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, "Адрес", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, "Телефон", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.salary, "Оклад", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salary)
                @Html.ValidationMessageFor(model => model.salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.login, "Логин", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.login)
                @Html.ValidationMessageFor(model => model.login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, "Пароль", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
