@model IEnumerable<Project.Models.salary>

@{
    ViewBag.Title = "Index";
}

<h2>Выдача зарплаты</h2>

<p>
    @Html.ActionLink("Выдать зарплату", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Зарплата
        </th>
        <th>
            Премия
        </th>
        <th>
            Кол. участий
        </th>
        <th>
            Получка
        </th>
        <th>
            Изготов.
        </th>
        <th>
            Покупка
        </th>
        <th>
            Продажа
        </th>
        <th>
            Сотрудник
        </th>
        <th>
            Месяц
        </th>
        <th>
            Год
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.summm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.premium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_making)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_buying)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_selling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.worker1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.month1.month1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year1.year1)
        </td>
        <td>
            @Html.ActionLink("Редакт.", "Edit", new { id=item.id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
